.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}
.hero-section {
  text-align: center;
  padding: 4rem 2rem;
}

.hero-subtitle {
  font-size: 1rem;
  color: #aaa;
  letter-spacing: 2px;
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  margin: 0.5rem 0;
  line-height: 1.2;
}

.hero-desc {
  max-width: 600px;
  margin: 1rem auto 2rem;
  color: #ccc;
  font-size: 1rem;
}

.get-started-btn {
  background: white;
  color: black;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #f40612;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

/*.anime-slider {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 0 2rem 2rem;
}*/

.anime-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}